.grid-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px;
  justify-content: center; */

  /* grid-template-rows: masonry; */

  margin: 0 auto;
}

.grid-item {
  width: 230px;
  /* height: 200px;
  object-fit: cover; */
  margin-bottom: 40px;
  border-radius: 15px;
  cursor: zoom-in;
  background-color: lightgray;
}

.grid-item:hover {
  filter: opacity(0.9);
}